<!-- 
    Spring Boot 3.2 + Angular v17: Paso 5 -> Vista componente 
-->
<!-- Datos a introducir: 
    nif: string
    nombre: string
    edad: number
    sexo: number
-->

<section>
    <h2>Formulario inserción clientes</h2>
    <form (ngSubmit)="insertarCliente()" #form="ngForm" class="container mt-4 bg-primary">
        <!-- Otros campos... -->
            <br><br>
            <label for="nif" class="form-label">NIF</label><br>
            <input type="text" class="form-control" id="nif" [(ngModel)]="nif" name="nif" required><br>
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required>
            <label for="edad" class="form-label">Edad</label>
            <input type="number" class="form-control" id="edad" [(ngModel)]="edad" name="edad" required>
            <label class="form-label">Sexo</label>
            <section class="form-check">
                <input type="radio" class="form-check-input" id="sexoMujer" [(ngModel)]="sexo" name="sexo" value="1"
                    ngModel required>
                <label class="form-check-label" for="sexoMujer">Mujer</label>
            </section>
            
            <section class="form-check">
                <input type="radio" class="form-check-input" id="sexoHombre" [(ngModel)]="sexo" name="sexo" value="0"
                    ngModel required>
                <label class="form-check-label" for="sexoHombre">Hombre</label>
            </section>
            <hr><br>
        <!-- Botón de envío... -->
        <button type="submit" class="btn btn-warning">Crear Cliente</button>
        <br><br>
    </form>
</section>
<!-- Mensaje -->
<div *ngIf="mensaje" class="alert alert-success">
    {{ mensaje }}
</div>

<!-- Añadir la tabla debajo del formulario -->
<section class="container mt-4">
    <h2>Tabla Clientes</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">NIF</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Sexo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.nif }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.edad }}</td>
                <td>{{ cliente.sexo === 0 ? 'Hombre' : 'Mujer' }}</td>
            </tr>
        </tbody>
    </table>
</section>